<div class="table-container">
  <div>
    <h1>Car Database</h1>
    <button class="add-button" (click)="openModal()">
      <img src="icons/plussign.svg" alt="" />Add Car
    </button>
  </div>

  <app-modal
    #modal
    (carAddedEvent)="onCarAdded($event)"
    (carUpdatedEvent)="onCarUpdated($event)"
  ></app-modal>

  <ul class="table-tabs">
    @for (tab of tabs; track tab; let i = $index) {
    <li class="tab" [class.active]="activeTab === i" (click)="setActiveTab(i)">
      {{ tab }}
    </li>
    }
  </ul>

  <label class="search-label">
    <div class="search-wrapper">
      <input type="search" placeholder="Search" />
      <img src="icons/search.svg" alt="" />
    </div>
  </label>

  <table class="cardatabase-table">
    <thead>
      <tr>
        <td>Model</td>
        <td>Plate number</td>
        <td>Km</td>
        <td>Status</td>
        <td>Driver</td>
        <td>Fuel</td>
        <td>Last inspection</td>
        <td>Next inspection</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      @for (item of filteredCars; track item.id) {
      <tr>
        <td>
          <img [src]="item.carPng" style="width: 30px" />
          <span>{{ item.carModel }}</span>
        </td>
        <td>{{ item.plateNumber }}</td>
        <td>{{ item.km + " km" }}</td>
        <td>{{ item.status }}</td>
        <td>
          <img class="round-img" [src]="item.driverpng" alt="" />
        </td>
        <td>{{ item.fuel }}</td>
        <td>{{ item.lastInspection }}</td>
        <td>{{ item.nextInspection }}</td>
        <td>
          <div class="more-options" (click)="toggleDropdown(item)">
            <img src="icons/dots.svg" alt="More" />
            @if(item.showDropdown) {
            <div class="dropdown-menu">
              <div class="dropdown-item" (click)="openModal(item)">
                <img src="icons/edit.svg" alt="Edit" />
                <span>Edit car</span>
              </div>
              <div class="dropdown-item delete" (click)="deleteCar(item)">
                <img src="icons/delete.svg" alt="Delete" />
                <span>Delete car</span>
              </div>
            </div>
            }
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
