.table-container {
  width: 94%;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
}

h1 {
  font-weight: normal;
}

.table-tabs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  gap: 450px;
  width: 100%;
}

.tab {
  position: relative;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  background: transparent;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  bottom: -2px;
}

.tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -90px;
  right: -120px;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.tab:hover::after,
.tab.active::after {
  background-color: #1e72c0;
}

.search-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

input[type="search"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 230px;
}

.cardatabase-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

.cardatabase-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.table-body {
  border-collapse: separate;
  border-spacing: 20px 0;
}

.table-body tr {
  border-radius: 10px;
  border-top: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(27, 26, 26, 0.1);
}

.table-body td {
  padding: 10px;
  border: none;
}

.status.active {
  color: green;
  font-weight: bold;
}

.more-options {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.cardatabase-table td:first-child {
  align-items: center;
  gap: 10px;
}

label {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

input[type="search"] {
  padding: 12px;
  background-color: rgba(164, 164, 164, 0.166);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 250px;
  outline: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

.add-button {
  padding: 10px 20px;
  background: #1e72c0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  float: right;
  display: flex;
  gap: 5px;
}
.table-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-label {
  position: relative;
}

.search-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.search-wrapper input {
  padding: 8px 30px 8px 10px;
  font-size: 13px;
  width: 100%;
}

.search-wrapper img {
  position: absolute;
  right: 10px;
  height: 20px;
  width: 15px;
}

.round-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.responsive-img {
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}

.dropdown-menu {
  position: absolute;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 30px;
  right: 0;
  width: 150px;
  z-index: 100;
  padding: 2px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 5px 16px;
  cursor: pointer;
  color: #000;
  transition: background 0.3s;
}

.dropdown-item img {
  width: 16px;
  margin-right: 10px;
}

.dropdown-item:hover {
  background: #eaeaea;
}

.dropdown-item.delete {
  color: #ff4d4d;
}
