<div class="car-details">
  <div class="header">
    <h2>Peugeot 208 2021</h2>
    <button class="driver-btn">View Driver Profile</button>
  </div>

  <div class="content">
    <div class="left">
      <img [src]="car.carPng" alt="Car" />
    </div>
    <div class="right">
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d733.4924633252713!2d21.141815000070004!3d42.66199423526739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13549f5510b1be45%3A0xbe64f8d64992205f!2sAxians%20Kosovo!5e0!3m2!1sen!2s!4v1746185842083!5m2!1sen!2s"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>

  <div class="tabs">
    <div
      class="tab"
      [class.active]="selectedTab === 'car-info'"
      (click)="selectTab('car-info')"
    >
      Car info
    </div>
    <div
      class="tab"
      [class.active]="selectedTab === 'km-report'"
      (click)="selectTab('km-report')"
    >
      KM Report
    </div>
    <div
      class="tab"
      [class.active]="selectedTab === 'maintenance-history'"
      (click)="selectTab('maintenance-history')"
    >
      Maintenance history
    </div>
  </div>

  <!-- Conditionally Render Tables -->
  @if (selectedTab === 'car-info') {
  <div class="car-info">
    <table>
      <thead>
        <tr>
          <th>Model</th>
          <th>Plate Number</th>
          <th>Km</th>
          <th>Fuel</th>
          <th>Driver</th>
          <th>Last Inspection</th>
          <th>Next Inspection</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ car.carModel }}</td>
          <td>{{ car.plateNumber }}</td>
          <td>{{ car.km }}</td>
          <td>{{ car.status }}</td>
          <td class="driver-cell">
            <img src="icons/driver.png" class="avatar" />
          </td>
          <td>{{ car.lastInspection }}</td>
          <td>{{ car.nextInspection }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  } @else if (selectedTab === 'km-report') {
  <div class="km-report">
    <table>
      <thead>
        <tr>
          <th>Driver</th>
          <th>Car Pick Up</th>
          <th>Before Car Pickup</th>
          <th>After Car Pickup</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jeton Nikollbibaj</td>
          <td>2025-05-01</td>
          <td>42,300 km</td>
          <td>42,800 km</td>
        </tr>
      </tbody>
    </table>
  </div>
  } @else if (selectedTab === 'maintenance-history') {
  <div class="maintenance-history">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Description Of Work</th>
          <th>Driver</th>
          <th>Warranty</th>
          <th>Total Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2025-04-20</td>
          <td>Oil Change</td>
          <td>Jeton Nikollbibaj</td>
          <td>Yes</td>
          <td>$150</td>
        </tr>
      </tbody>
    </table>
  </div>
  }
</div>
