<div class="modal" #modal>
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>

    <div class="title">
      <h2>Add new Driver</h2>
      <p>Please fill out form to add new driver</p>
    </div>

    <form>
      <div class="container">
        @if (fileData || filePreview) {
        <table class="added-car">
          <tr>
            <td>
              <img
                *ngIf="filePreview"
                [src]="filePreview"
                alt="Selected Image"
                width="50"
              />
              {{ fileName }}
              <p style="color: gray">
                File Size:
                {{ fileData ? (fileData.size / 1024 / 1024).toFixed(2) : 0 }} MB
              </p>
              <span class="close" (click)="removeFile()">&times;</span>
            </td>
          </tr>
        </table>
        } @else {
        <label class="upload-box">
          <img src="icons/uploud.svg" alt="Upload Icon" />
          <div class="upload-text">
            Upload picture<br />
            <small>Max file size 5mb</small>
          </div>
          <input type="file" (change)="onFileSelected($event)" />
        </label>
        }

        <form [formGroup]="driverForm" (ngSubmit)="onSubmit()">
          <div class="container">
            <div class="form-grid">
              <div class="column">
                <div class="input-group">
                  <div class="input-group-one">
                    <div class="input-form">
                      <label for="firstName">First Name</label>
                      <input
                        formControlName="firstName"
                        type="text"
                        id="firstName"
                        required
                      />
                    </div>
                    <div class="input-form">
                      <label for="lastName">Last Name</label>
                      <input
                        formControlName="lastName"
                        type="text"
                        id="lastName"
                        required
                      />
                    </div>
                  </div>

                  <div class="input-group-one">
                    <div class="input-form">
                      <label for="phoneNumber">Phone Number</label>
                      <input
                        formControlName="phoneNumber"
                        type="text"
                        id="phoneNumber"
                        required
                      />
                    </div>
                    <div class="input-form">
                      <label for="emailAddress">Email Address</label>
                      <input
                        formControlName="emailAddress"
                        type="text"
                        id="emailAddress"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="buttons">
              <button class="cancel-btn" type="button" (click)="closeModal()">
                Cancel
              </button>
              <form [formGroup]="driverForm" (ngSubmit)="onSubmit()">
                <button class="add-btn" type="submit">Add Driver</button>
              </form>
            </div>
          </div>
        </form>
      </div>
    </form>
  </div>
</div>
