@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.signup {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 50%;
}

.signup h1 {
  color: #2176ff;
  font-size: 24px;
  font-weight: 500;
}

.signup h2 {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bolder;
}

#outlookbutton {
  background-color: white;
  color: #000000;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.signup button {
  width: 100%;
  padding: 12px;
  background-color: #2176ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.signup input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup p:first-of-type {
  font-size: 22px;
}

.signup a {
  color: #2176ff;
  text-decoration: none;
  font-size: 14px;
  margin-top: 5px;
}
.signup a:first-of-type {
  color: #2176ff;
  text-decoration: none;
  font-size: 14px;
  margin-top: 5px;
}

.signup p {
  margin-top: 15px;
}

.form-group button img {
  position: relative;
  top: 4px; /* Moves the icon 10px down */
  right: 6px;
}
#fgps {
  display: block;
  text-align: right;
  margin-top: 5px;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.background {
  width: 50%;
  height: 100vh;
  background-image: url("../../../../public/icons/carbackground.jpg");
  background-size: cover;
  background-position: center;
}

.input-container {
  position: relative;
}

.input-container input {
  padding: 10px 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container .icon {
  position: absolute;
  left: 10px;
  top: 47%;
  transform: translateY(-50%);
}
.input-container {
  position: relative;
}

.input-container input {
  padding: 10px 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container .icon2 {
  position: absolute;
  left: 10px;
  top: 78%;
  transform: translateY(-50%);
}

.input-container .icon3 {
  position: absolute;
  left: 7px;
  top: 16%;
  transform: translateY(-50%);
}

#login {
  text-decoration: underline;
  font-size: 16px;
}

#undertext {
  font-size: 15px;
  position: relative;
  bottom: 12px;
}

@media only screen and (max-width: 600px) {
  .login {
    background-color: lightblue;
  }
}

.error-text {
  color: red;
  font-size: 14px;
}
