@if (driver) {
<div class="driver-profile-container">
  <h1>Driver Profile</h1>
  <div class="header-container">
    <div class="profile-header-container">
      <div class="profile-header">
        <div class="header-left">
          <img
            class="profile-image"
            [src]="driver.driverpng"
            alt="Driver Image"
          />
          <div class="profile-info">
            <h2>{{ driver.firstName }} {{ driver.lastName }}</h2>
            <p class="title">Software Developer</p>
            <p class="location">Kosovo</p>
          </div>
        </div>
      </div>

      <div class="profile-details">
        <div class="detail-item">
          <span class="label">First Name</span>
          <p>{{ driver.firstName }}</p>
        </div>
        <div class="detail-item">
          <span class="label">Last Name</span>
          <p>{{ driver.lastName }}</p>
        </div>
        <div class="detail-item">
          <span class="label">Email Address</span>
          <p>{{ driver.emailAddress }}</p>
        </div>
        <div class="detail-item">
          <span class="label">Phone</span>
          <p>{{ driver.phoneNumber }}</p>
        </div>
      </div>
    </div>
    <div class="content-right-side">
      <button class="edit-button" (click)="openEditModal()">
        <svg
          width="17"
          height="16"
          viewBox="0 0 17 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.0832 6.74984L15.5832 4.24984L12.2498 0.916504L9.74984 3.4165M13.0832 6.74984L4.74984 15.0832H1.4165V11.7498L9.74984 3.4165M13.0832 6.74984L9.74984 3.4165"
            stroke="white"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        Edit
      </button>
    </div>
  </div>

  <div class="report-section">
    <div class="report-tabs">
      <button
        class="tab-button"
        [class.active]="activeTab === 'km'"
        (click)="setTab('km')"
      >
        KM Report
      </button>
      <button
        class="tab-button"
        [class.active]="activeTab === 'damage'"
        (click)="setTab('damage')"
      >
        Driver Damage Reports
      </button>
    </div>

    <div class="report-table-container">
      @if (activeTab === 'km') {
      <table class="report-table">
        <thead>
          <tr>
            <th>Driver</th>
            <th>Car Purchase</th>
            <th>Before Car Purchase</th>
            <th>After Delivery Of Car</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ driver.firstName }}</td>
            <td>19.02.2024</td>
            <td>50.000 km</td>
            <td>65.000 km</td>
          </tr>
        </tbody>
      </table>
      } @else {
      <table class="report-table">
        <thead>
          <tr>
            <th>Employee</th>
            <th>Email</th>
            <th>Date</th>
            <th>Equipment Involved</th>
            <th>Damage</th>
            <th>Actions Token</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ driver.firstName }} {{ driver.lastName }}</td>
            <td>{{ driver.emailAddress }}</td>
            <td>28.04.2025</td>
            <td>Peugeot 208 2021</td>
            <td>Car tires</td>
            <td>Tire Change</td>
          </tr>
        </tbody>
      </table>
      }
    </div>
  </div>
</div>
} @else {
<p>Loading driver profile...</p>
}

<app-add-driver-modal
  #editDriverModal
  (driverAdded)="handleDriverUpdated($event)"
></app-add-driver-modal>
