:host {
  display: block;
  font-family: sans-serif;
  color: #333;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.driver-profile-container {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: auto;
  background-color: #fff;
  border-radius: 8px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  .profile-header-container {
    width: 720px;
    .profile-header {
      display: flex;
      justify-content: space-between;

      align-items: flex-start;
      margin-bottom: 30px;
      padding-bottom: 20px;
    }
  }
  .content-right-side {
    display: flex;
    align-items: flex-start;
    margin-right: 80px;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #111;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #eee;
}

.profile-info h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.profile-info .title,
.profile-info .location {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.4;
}

.edit-button {
  display: inline-flex;
  align-items: center;
  margin-right: 0px;
  gap: 5px;
  background-color: #1e72c0;
  color: white;
  border: none;
  padding: 10px 23px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.edit-button svg {
  margin-right: 4px;
}

.edit-button:hover {
  background-color: #0056b3;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 20px;

  gap: 15px;
}
.detail-item {
  flex-basis: 23%;
}

.detail-item .label {
  display: block;
  font-size: 0.8rem;
  color: #000000;
  margin-bottom: 5px;
  font-weight: bolder;
}

.detail-item p {
  font-size: 0.95rem;
  color: #333;
}

.report-section {
  margin-top: 20px; /* Add some space above the table section */
  border-radius: 8px;
  overflow: hidden; /* Keep rounded corners */
  font-size: 17px;
}

.report-tabs {
  display: flex;
  border-bottom: 1px solid #dee2e6; /* Separator line */
}

.tab-button {
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.tab-button.active {
  color: black;
  border-bottom: 2px solid #1e72c0;
}

.tab-button:not(.active):hover {
  color: #0e0f10;
}
.tab-button.active {
  color: rgb(45, 42, 42);
  font-weight: bolder;
}

.report-table-container {
  padding: 15px;
  background-color: #fff;
}

.report-table {
  width: 100%;
  border-collapse: separate;
}

.report-table th,
.report-table td {
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid #dee2e6;
}

.report-table th {
  font-weight: 600;
  color: #495057;
  font-size: 0.9em;
}

.report-table tbody tr:last-child td {
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid #dee2e6;
}

.report-table td {
  color: #6c757d;
  font-size: 0.9em;
}

.table-body tr {
  border-radius: 10px;
  border-top: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(27, 26, 26, 0.1);
}
