<div class="table-container">
  <div>
    <h1>Driver's Database</h1>
    <button class="add-button" (click)="openModal()">
      <img src="icons/plussign.svg" alt="" />Add New Driver
    </button>
  </div>
  <ul class="table-tabs">
    <li
      *ngFor="let tab of tabs; let i = index"
      class="tab"
      [class.active]="activeTab === i"
      (click)="setActiveTab(i)"
    >
      {{ tab }}
    </li>
  </ul>

  <label class="search-label">
    <div class="search-wrapper">
      <input type="search" placeholder="Search" />
      <img src="icons/search.svg" alt="" />
    </div>
  </label>

  <table class="carrequest-table">
    <thead>
      <tr>
        <td>Driver</td>
        <td>Assigned car</td>
        <td>Plate Number</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      @for (item of filteredDrivers; track item.id) {
      <tr>
        <td>
          <div style="display: flex; align-items: center">
            <img [src]="item.driverpng" width="30px" height="30px" alt="" />
            <span>
              {{ item.driversName }}
            </span>
          </div>
        </td>
        <td>
          <div style="display: flex; align-items: center">
            <img src="icons/carpng.png" width="30px" height="30px" alt="" />
            <span>
              {{ item.carModel }}
            </span>
          </div>
        </td>
        <td>
          {{ item.plateNumber }}
        </td>

        <td>
          <div class="more-options" (click)="toggleDropdown(item)">
            <img src="icons/dots.svg" alt="More" />
            @if(item.showDropdown) {
            <div class="dropdown-menu">
              <div class="dropdown-item" (click)="openModal()">
                <img src="icons/edit.svg" alt="Edit" />
                <span>Edit driver</span>
              </div>
              <div class="dropdown-item delete" (click)="deleteCar(item)">
                <img src="icons/delete.svg" alt="Delete" />
                <span>Delete driver</span>
              </div>
            </div>
            }
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
<app-add-driver-modal
  #addDriverModalComponent
  (driverAdded)="onDriverAdded($event)"
></app-add-driver-modal>
