<div class="boxes">
    <div class="box">
      <h3 class="box-title"><img src="icons/modelicon.svg" alt="">Model</h3>
      <h2 class="box-content">Peugeot 208 2021</h2>
    </div>
  
    <div class="box">
      <h3 class="box-title">Plate Number</h3>
      <h2 class="box-content">01-120-RKS</h2>
    </div>
  
    <div class="box">
      <h3 class="box-title">Fuel</h3>
      <h2 class="box-content">Diesel</h2>
    </div>
  
    <div class="box">
      <h3 class="box-title">Km</h3>
      <h2 class="box-content">10.01.2024</h2>
    </div>
  </div>
